body {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to bottom,
    #b0c8e2,
    #bbd0e3,
    #c5d6e6,
    #d4e0ec,
    #e0e7ed
  );
  margin: 0;
  padding: 0;
  font-family: calibri;
}

input {
  outline: none;
}

.orderslist {
  transition: all 0.5s ease-in-out;
}

@media (min-width: 750px) {
  .orderslist {
    display: flex;
    flex-basis: 320px;
    height: 100%;
    flex-direction: column;
    background-color: #ffffff;
    animation-duration: 0.5s;
    animation-name: slidein;
    animation-iteration-count: 1;
  }
  .foot1 {
    display: flex;
    flex-basis: 320px;
    flex-direction: row;
    justify-content: flex-end;
    animation-duration: 0.5s;
    animation-name: slidein;
    animation-iteration-count: 1;
    border-right: 1px solid rgb(196, 196, 204);
  }
  .foot2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 75%;
  }
  @keyframes slidein {
    from {
      width: 0%;
      flex-basis: 0px;
    }

    to {
      width: 25%;
      flex-basis: 320px;
    }
  }

  .orderinfo {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.slidein {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@media (max-width: 750px) {
  .orderslist {
    animation-duration: 0.5s;
    animation-name: slideout;
    animation-iteration-count: 1;
  }
  .orderinfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .foot1 {
    animation-duration: 0.5s;
    animation-name: slideout;
    animation-iteration-count: 1;
  }
  .foot2 {
    width: 100%;
  }
  @keyframes slideout {
    from {
      width: 25%;
      flex-basis: 320px;
    }

    to {
      width: 0%;
      flex-basis: 0px;
      display: none;
    }
  }
  .someicon,
  .filter {
    display: none;
  }
  .orderslist * {
    display: none;
  }
}

.container {
  height: 94.5%;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  justify-content: center;
}

.listtitle {
  background-color: white;
  height: 4%;
  display: flex;
}
.listtitlepic {
  width: 5%;
  height: 100%;
  padding-left: 7px;
}
.listtitlename {
  text-align: center;
  width: 95%;
  margin-top: 6px;
  font-size: 15px;
  color: rgb(78, 78, 78);
}
.search {
  display: inline-flex;
  height: 3%;
  align-items: center;
  background-color: rgb(250, 250, 250);
  margin: 2px;
  border: 1px solid rgb(196, 196, 204);
}
.searchline {
  padding-top: 1px;
  margin-left: 5px;
  outline: none;
  border: none;
  background-color: rgb(250, 250, 250);
  width: 100%;
}
.searchimg {
  margin-right: 10px;
}
.current {
  background-color: rgb(218, 235, 250);
  border: 0.5px solid rgb(179, 191, 194);
  border-left: none;
  border-right: none;
}
.item {
  border-bottom: 0.5px solid rgb(195, 207, 207);
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding-bottom: 10px;
  height: 90px;
  transition: all 0.2s ease-in-out;
  color: #84898e;
}
.item:hover {
  background-color: rgb(231, 238, 245);
}
.item > p {
  font-size: 80%;
  color: rgb(78, 78, 78);
  padding: 7px;
  padding-left: 15px;
  margin: 0px;
}
.date {
  font-size: 20px;
  float: right;
  color: black;
}
.shippeddate {
  margin-left: 5px;
}
.itemorder {
  font-size: 17px;
}
#num-of-order {
  font-size: 15px;
}
.items {
  height: 93%;
  overflow-y: auto;
}
.namestate {
  display: flex;
}
.clientname {
  width: 50%;
}
.orderstate {
  width: 50%;
  text-align: right;
  color: orange;
}
.orderinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: white;
}

.infotitle {
  box-sizing: border-box;
  padding-top: 5px;
  height: 5%;
  text-align: center;
  font-size: 15px;
  color: #7a7979;
  border-bottom: 0.5px solid rgb(213, 219, 219);
  background-color: #edf5f8;
}
.downinfo {
  height: 25%;
}
.upinfo {
  background-color: #eff4f8;
  height: 32.5%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.common {
  display: flex;
  flex-direction: column;
  height: 70%;
  font-size: 80%;
  color: rgb(78, 78, 78);
}
.commonfirstline {
  display: flex;
  font-size: 17px;
  justify-content: space-between;
  padding-top: 35px;
  height: 60px;
}
.commonorder {
  margin-left: 4%;
}
.commoncost {
  margin-right: 4%;
  display: flex;
  flex-direction: column;
}
.cost,
.valute {
  align-self: flex-end;
}
.valute {
  font-size: 10px;
  color: #7f848b;
}
.ordernum {
  padding-left: 5px;
}
.commoncustomer,
.commonordered,
.commonshipped {
  color: #808080;
  margin-left: 4%;
  height: 40px;
}
.switcher {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  box-sizing: border-box;
  height: 30%;
  border-bottom: 2px solid #e4eaf1;
}
.shippedbutton,
.processorbutton {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: -2px;
  padding-bottom: 2%;
  border-bottom: 2px solid #e4eaf1;
}
.shippedbutton {
  margin-left: 4%;
}

#none {
  display: none;
}
.lineitems {
  display: flex;
  flex-direction: column;
  height: 37.5%;
  background-color: rgb(252, 252, 252);
  border-top: 1px solid rgb(240, 225, 225);
}
.shipping,
.processor {
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
  color: rgb(78, 78, 78);
  border-bottom: 1px solid rgb(240, 225, 225);
}

.shiptitle {
  display: flex;
  font-size: 110%;
  padding: 11px;
  align-items: flex-end;
  height: 24%;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(240, 225, 225);
  color: rgb(78, 78, 78);
}

.infoline {
  display: flex;
  color: rgb(78, 78, 78);
}

.right {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  flex: wrap;
  margin-left: 4px;
  padding: 0;
  color: rgb(78, 78, 78);
}
.left {
  display: flex;
  flex: wrap;
  box-sizing: border-box;
  justify-content: flex-end;
  width: 20%;
  margin-right: 4px;
  color: #808080;
}

@media (max-width: 450px) {
  .infoline {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 11px;
  }
  .shipping,
  .processor {
    padding: 0;
  }
  .left {
    width: 100%;
    justify-content: flex-start;
  }
  .right {
    width: 100%;
    margin-left: 0;
  }
}

.tabletitle {
  box-sizing: border-box;
  height: 17%;
  padding-left: 3%;
  padding-top: 10px;
  color: rgb(78, 78, 78);
  font-size: 15px;
}
.tableline {
  display: inline-flex;
  justify-content: space-between;
  height: 10%;
  box-sizing: border-box;
  border-top: 1px solid #e9eae8;
  border-bottom: 1px solid #e9eae8;

  margin-left: 10px;
  background-color: rgb(245, 245, 245);
  color: rgb(78, 78, 78);
}
.productcolumn {
  width: 35%;
  font-size: 80%;
  display: flex;
  padding-left: 4%;
  flex-direction: column;
  justify-content: center;
}
.unitpricecolumn,
.quantitycolumn,
.totalcolumn {
  width: 25%;
  font-size: 80%;
  display: flex;
  padding-left: 4%;
  padding-right: 5%;
  flex-direction: column;
  text-align: right;
}

.unitpricecolumn {
  width: 15%;
}
.lineunitprice {
  text-align: right;
  width: 15%;
  font-size: 80%;
  padding-left: 4%;
  padding-right: 4%;
}

.linequantity,
.lineprice {
  text-align: right;
  width: 25%;
  font-size: 80%;
  padding-left: 4%;
  padding-right: 4%;
}
@media (max-width: 450px) {
  .unitpricecolumn,
  .quantitycolumn,
  .totalcolumn {
    display: none;
  }
  .lineunitprice,
  .linequantity,
  .lineprice {
    text-align: left;
  }
}

.scrolltable {
  overflow-y: auto;
  padding-left: 10px;
  height: 73%;
}
.lineproduct {
  width: 35%;
  font-size: 80%;
  padding-left: 4%;
}

.detailsline {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  color: rgb(78, 78, 78);
  background-color: white;
  border-bottom: 0.5px solid #e9eae8;
}

.title-hide {
  display: none;
  font-size: 13px;
  margin-left: 4%;
}

@media (max-width: 450px) {
  .detailsline {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  .title-hide {
    display: block;
  }
}

.footer {
  height: 40px;
  width: 100%;
  background: #2f3b47;
  color: #fff;
  bottom: 0;
  display: flex;
}
.filter,
.someicon,
.mail {
  margin: 12px;
}

.main {
  height: 100vh;
  width: 1200px;
  display: flex;
  flex-direction: column;
}
